.content {
  display: flex;
  height: calc(100vh - 50px);
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  font-family: "roboto", sans-serif;
  padding: 0;
  width: 270px;
  background-color: #343a40;
  z-index: 1000;

}

.sidebar>.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.sidebar>.nav .nav-item .nav-link {
  align-items: center;
  display: flex;
  padding: 15px 30px 15px 55px;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
}

.sidebar>.nav .nav-item .nav-link .badge {
  margin-left: auto;
}

.sidebar>.nav .nav-item .nav-link:hover {
  color: #f2f2f2;
}

.sidebar>.nav:not(.sub-menu)>.nav-item:hover:not(.nav-profile):not(.hover-open)>.nav-link:not([aria-expanded="true"]) {
  background: #fdc827;
  padding-left: 65px;
}

.sidebar>.nav:not(.sub-menu)>.nav-item:hover:not(.nav-profile):not(.hover-open)>.nav-link:not([aria-expanded="true"]):before {
  border-color: #fff;
}

.sidebar>.nav:not(.sub-menu)>.nav-item:hover:not(.nav-profile):not(.hover-open)>.nav-link:not([aria-expanded="true"]) .menu-title {
  color: #fff;
}

.sidebar>.nav:not(.sub-menu)>.nav-item:hover:not(.nav-profile):not(.hover-open)>.nav-link:not([aria-expanded="true"]) .menu-arrow:before {
  color: #bfccda;
}

.card {
  margin-top: 50px;
  margin-left: 200px;
  height: 250px;
  transition: background-color 0.3s, color 0.3s;
}

.card .bi {
  font-size: 50px;
  margin: 25px;
}

.card i,
.card .card-title {
  transition: color 0.3s;
}

.card:hover {
  background-color: #fdc827;
}

.card:hover i,
.card:hover .card-title {
  color: black;
}

h2
{
  margin-top: 20px;
}
.table {
  margin-top: 25px;


  thead {
    font-size: 18px;
    font-weight: bold;
  }

  td {
    padding: 15px;
  }

}

